node_modules
.DS_Store
dist
dist-ssr
src/assets
commitlint.config.js
*.local
**/*.d.ts
**/*.svg
package.json
.eslintignore
.eslintrc.js
.gitignore
.history
.huskyrc
.prettierignore
yarn-error.log
CHANGELOG.md
vite.config.ts
jest.config.js
coverage/