img {
	object-fit: contain;
}
.home-box {
	width: 100%;
	height: 100%;
	min-width: 1366px;
	background-color: #1e1e1e;
	position: relative;
	z-index: 1;
	top: 0;
	left: 0;
}
.home-bg-box {
	position: relative;
	z-index: 2;
	top: 0;
	right: 0;
	.home-bg-all {
		width: 100%;
	}
}
.home-item-box {
	position: absolute;
	z-index: 9;
}

.menu-list-box {
	max-width: 280px;
	width: 100%;
	padding: 20px;
	top: 100px;
	right: 30px;
	background-image: url("/src/assets/images/home/menu-bg.png");
	background-repeat: no-repeat;
	background-size: contain;
	.menu-btn-right {
		text-align: right;
	}
	.menu-btn-center {
		text-align: center;
	}
	.menu-btn-cancel {
		width: 30px;
	}
	.menu-btn {
		width: 200px;
		margin: 10px 0;
	}
}
@media screen and (min-width: 1920px) {
}
